html { margin-top: 20px; }
#chat-content { height: 180px;  overflow-y: scroll; }
.bg-black { background-color: black; height: 100px; border: 1px solid #fff; }
.hide { display: none;}
.mrgn-tp { margin-top: 5px !important; }
.mrgn-bttm { margin-bttm: 5px !important; }
.brdr-lft { border-left: 1px solid #fff !important; }
.brdr-rght { border-right: 1px solid #fff !important; }
.bg-gray { background-color: #505660;}
.mn-hght { min-height: 900px;} 
