html { height: 100%; }
body { height: 100%; background: #444753; }
video {
  position: absolute;
  width: inherit;
  z-index: 100;
  background-size: cover;
  overflow: hidden;
}
#video-content.content {
  margin-left: 25% !important;
  transition: 0.5s;
}
#video-content {
  transition: 0.5s;
}
.pull-right { float:right; }
#remote-video video { height: 100%; width: 100%; }
.bot-left { top: 90%; }
.hgt { height: 100%; }
.hgt2 { height: 50%; }
.center { text-align: center; color: white;}
.chat-hidden { width:0 !important; }
.hideme { display: none; transition: 0.1s;}
#chat-id {
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 25%;
  background-color: #F2F5F8;
  overflow-x: hidden;
  transition: 0.5s;
}
nav { background-color: #F2F5F8; border-bottom: 1px solid white;}
#chat-content {
  padding:15px;
  height: 83% !important;
  overflow-y: scroll;
}
.videoinsert {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
textarea {
  resize: none;
  margin: 20px 0px 20px 20px;
  width: 97% !important;
}
#message-area {
  border-top: 1px solid white;
  background-color: #F2F5F8;
  margin-bottom: 0 !important;
  padding-bottom: 20px;
}
div.local-message-content {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: #86BB71;
  width: 70% !important;
  float: left;
  box-shadow: 2px 2px 4px #888;
  border: 2px solid #666;
}
div.remote-message-content {
  padding: 10px;
  border-radius: 5px;
  background: #94C2ED;
  width: 70% !important;
  float: right;
  box-shadow: 2px 2px 4px #888;
  border: 2px solid #666;
}
